*{
    padding: 0;
    margin: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(50, 50, 178);
    height: 100px;
}
section .menu{

    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    height: 620px;
}
section .cadastro{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: black;
    color: white;
    font-size: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}
button{
    width: 80px;
    height: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav button:hover{
    background-color: rgb(0, 110, 255);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;    
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}
.btn button{
    border: none;
    background-color: rgb(50, 50, 178);
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 125px;
    height: 35px;
}
.coll-1, .coll-2{
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;

    height: 285px;
    justify-content: space-evenly;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}
.cadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px none;
    border-radius: 3px;
    height: 615px;
}
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
}